.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
}

.banner__content {
  max-width: 50%;
  padding: 50px 40px;
}

.banner__subtitle {
  font-size: 3rem;
  color: #000000;
  font-weight: bold;
}

.banner__title {
  font-size: 3.5rem;
  margin: 10px 0;
}

.banner__title span {
  color: #ff6b6b;
}

.banner__note {
  font-size: 0.9rem;
  color: #555;
  margin: 20px 0;
}

.banner__actions {
  display: flex;
  gap: 20px;
}

.banner__btn {
  padding: 10px 50px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.banner__phone {
  color: #ff6b6b;
  text-decoration: none;
}

.banner__image img {
  max-width: 100%;
  
}
