/* General Portfolio Layout */
.portfolio {
  text-align: center;
  padding: 2px;
  background-color: #f9f9f9;
}

.portfolio h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.portfolio h2 span {
  color: #007bff; /* Highlighted text color */
}

.portfolio-subtitle {
  font-size: 1.2rem;
  color: #ff6b6b;
  margin-bottom: 30px;
}

/* Slider Container */
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px; /* Add gap between videos */
  padding: 10px;
}

/* Individual Slide */
.slide {
  flex: 0 0 auto; /* Allow slides to shrink to fit */
}

.slide video {
  width: 350px; /* Adjust this value as needed */
  height: 550px; /* Adjust this value as needed */
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 14px solid #2a282d; /* Add a border to each video */
}
/* Responsive Design */
@media screen and (max-width: 768px) {
  .slider {
    display: block; /* Change to block to stack videos vertically */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 580px; /* Set a maximum height for the scrollable area */
  }

  .slide {
    margin-bottom: 20px; /* Add spacing between videos */
  }

  .slide video {
    width: 320px; /* Adjust this value as needed */
    height: 550px; /* Adjust this value as needed */
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 10px solid #2a282d; /* Add a border to each video */
  }
}
